.client-list {
  min-width: 500px;
  max-width: 80vw;
  padding: var(--block-padding);
}

.wallet-widget {
  --radius: 20px;
  position: relative;
  border-radius: var(--radius);
  border: 1px solid var(--outline);
  background-image: var(--background-image);
  padding: 1px; /* Used for hover on inner buttons*/
  isolation: isolate;
}
.wallet-widget::before {
  content: "";
  background-color: var(--background);
  border-radius: var(--radius);
  inset: 1px;
  position: absolute;
  z-index: -1;
}

.wallet-widget button {
  border: none;
  background-color: transparent;
  padding: var(--size-1) var(--size-2);
}
.wallet-widget button:hover {
  background-color: var(--surface);
}
.wallet-widget button:active {
  background-color:  var(--surface-higher);
}

.wallet-widget button:first-child {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-right: solid 1px var(--divider);
}
.wallet-widget button:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}