
#pool-header img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#pool-performance > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--block-padding);
}

.search-field {
  display: flex;
  align-items: flex-end;
}

.token-filters {
  background-color: var(--background);
  padding: var(--block-padding);
  position: sticky;
  top: 0;
  z-index: 1;
}

.token-filters .form-field {
  width: 100%;
}

.filter-wrapper {
  overflow-x: auto;
}

.filter-list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: var(--size-2);
  padding-block: var(--size-1);
}
.filter-list li {
  min-width: 150px;
}

.token-nav {
  padding: 32px 64px;
}

.cards {
  --card-width: 250px;
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  gap: var(--size-2);
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
}

.card {
  display: contents;
}

.card a {
  content-visibility: auto;
  contain-intrinsic-size: 500px;
  background-color: var(--surface);
  border-radius: var(--size-0);
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card a:hover {
  background-color: var(--surface-high);
  box-shadow: var(--overlay-shadow);
}


.card img {
  contain: paint;
  aspect-ratio: 6 / 9;
  width: 100%;
  height: unset;
  border-top-left-radius: var(--size-0);
  border-top-right-radius: var(--size-0);
}


.card h3 {
  padding: var(--block-padding);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--size-1);
  padding: var(--block-padding);
  cursor: auto;
}

.last-item {
  display: flex;
  padding: var(--size-2);
  justify-content: center;
}

.go-top {
  width: fit-content;
  position: sticky;
  bottom: var(--size-2);
  left: var(--size-2);
}

@media (max-width: 899px) {
  #pool-header img {
    height: unset;
  }
  .filter-list {
    overflow-x: auto;
  }
  .token-nav {
    padding: var(--size-2);
  }
  .cards {
    --card-width: 200px;
  }
}
/* TODO: find how to get this value dynamically */
@media (max-width: 446px) {

  .card a {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto;
  }
  .card img {
    grid-row: 1 / span 2;
  }
}