#token-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fade 0.2s var(--ease-out);
}

#token-page nav {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding: var(--block-padding);
}


.token-details {
  place-self: center;
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 300px auto;
  row-gap: var(--size-2);
  column-gap: var(--size-4);
  padding: var(--size-2);
  max-width: 60%;
}
.token-details img {
  contain: paint;
  grid-row: 1 / span 4;
  border-radius: var(--size-0);
  padding: 2px;
  background-image: var(--background-image);
  box-sizing: border-box;
}

.token-details > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-1);
  position: relative;
}

.token-details article::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: translateY(var(--size-1));
  background-color: var(--divider);
}

.token-details .bucket-token {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.token-details #token-bucket {
  margin-right: auto;
}

.attributes {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: var(--size-2);
}

.attributes > li {
  background-color: var(--background);
  border-radius: var(--size-0);
  padding: var(--block-padding);
  border: solid 1px var(--outline);
}

@media (max-width: 899px) {
  .token-details {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: auto;
  }
  .token-details img {
    justify-self: center;
  }
}