html {
  --hue: 260;
  --block-padding: var(--size-1) var(--size-2);
  font-family: var(--font-family);
  background-image: none;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  margin:0;
  padding: 0;
  line-height: inherit;
  background-image: linear-gradient(
    to bottom,
    oklch(95% 0.02 var(--hue)),
    var(--background) 200px
  );
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(
      to bottom,
      oklch(30% var(--chroma) var(--hue)),
      var(--background) 200px
    );
  }
}

.surface {
  border-radius: var(--size-0);
  background-color: var(--surface);
  padding: var(--block-padding);
}


.btn, .btn-fill, .btn-outline, .btn-expand {
  display: inline-flex;
  align-items: center;
  gap: var(--size-1);
  box-sizing: border-box;
}
.btn svg, .btn-fill svg, .btn-outline svg, .btn-expand svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btn-expand {
  border: none;
  border-radius: var(--size-1);
  height: 48px;
  min-width: 48px;
  max-width: 48px;
  gap: 12px;
  padding: 12px;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.2s var(--ease-out);
}
.btn-expand.fill {
  background-color: var(--color, var(--background));
  color: var(--on-color, var(--text));
}
.btn-expand.fill.gradient {
  background-image: var(--background-image);
  color: var(--on-gradient);
}
.btn-expand.outline {
  background-color: transparent;
  color: var(--on-color, var(--text));
}
.btn-expand.outline.gradient {
  background-image: var(--background-image);
  color: var(--text);
  isolation: isolate;
  position: relative;
}
.btn-expand.outline.gradient::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--background);
  border-radius: calc(var(--size-1) - 2px); /* reduce by the inset */
  z-index: -1;
}
.btn-expand[aria-expanded="true"] {
  transition: max-width 0.2s var(--ease-in);
  max-width: var(--btn-expand-width, 200px);
}



[class*="tooltip"] {
  position: relative;
}
[class*="tooltip"]::after {
  content: attr(aria-label);
  pointer-events: none;
  padding: var(--size-0) var(--size-1);
  position: absolute;
  height: fit-content;
  width: fit-content;
  z-index: 1;

  box-shadow: var(--overlay-shadow);
  background-color: var(--overlay);
  border-radius: var(--size-0);
  color: var(--secondary-text);
  white-space: nowrap;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s var(--ease-in),
    transform 0.2s var(--ease-in);
}
[class*="tooltip"]:hover::after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s var(--ease-out),
    transform 0.2s var(--ease-out);
}
.tooltip-top::after {
  bottom: 110%;
  left: -50%;
}
.tooltip-right::after {
  top: 25%;
  left: 110%;
}
.tooltip-bottom::after {
  top: 110%;
  left: -50%;
}
.tooltip-left::after {
  top: 25%;
  right: 110%;
}


.action-list {
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--size-0);
}
.action-list li {
  display: contents;
}
.action-list button {
  border: none;
  background-color: transparent;
  padding: var(--size-1) var(--size-2);
}
