.bucket-trigger {
  --btn-expand-width: 200px;
  position: fixed;
  bottom: var(--size-2);
  right: var(--size-2);
  z-index: 1;
}
.bucket-trigger button {
  font-size: 1rem;
}

.bucket-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
  width: 300px;

  .empty {
    margin: var(--size-2);
    background-color: var(--surface);
    padding: var(--block-padding);
    border-radius: var(--size-0);
    border: 1px dashed var(--outline);
    text-align: center;
    h3 {
      margin-bottom: var(--size-2);
    }
  }

  details {
    background-color: var(--surface);
    summary {
      cursor: pointer;
      padding: var(--block-padding);
      &:hover {
        background-color: var(--surface-high);
      }
      &:active {
        background-color: var(--surface-higher);
      }
    }
    ul {
      list-style: none;
      margin-block: 0;
      padding: var(--block-padding);
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
    }
    li {
      display: flex;
      justify-content: space-between;
    }
    strong {
      font-size: inherit;
      color: var(--primary);
    }
  }

  .bucket-list {
    flex: 1;
    margin-block: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    padding: var(--size-2);
    overflow: auto;
  }
  
  .bucket-list li {
    display: grid;
    gap: var(--size-1);
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    background-image: var(--background-image);
    border-radius: var(--size-0);
    border: 1px solid var(--outline);
    padding: var(--block-padding);
  }
  .bucket-list img {
    grid-row: 1 / span 2;
    width: 100%;
    height: auto;
    place-self: center;
  }
  .bucket-list li header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-1);
  }
  .bucket-list li footer {
    display: flex;
    align-items: center;
    gap: var(--size-1);
  }
  
  .bucket-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--block-padding);
    background-color: var(--background);
  }
}